raw_video_imgs/
gripper_res_video/
checkpoint/
flow/
data/
debug/
video/
video_imgs/
motion_res/
gripper_res/
movie/
movie_materials/marker_tracking/
tmp/
res/
grpper_ctrl.zip
urx/__pycache__/
utils/__pycache__/
__pycache__/
debug_raft.png
slip_res.yml
